<!DOCTYPE HTML>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Collaborate</title>
  </head>

  <body>
    <h1>Find a collaborator for your artistic project.</h1>

    <form action="/collaborarts/form" method="post">
      <div class="row">
        <div class="large-12 columns">
          <label for="first name">First name:</label>
          <input type="text" id="first name" name="first name">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="last name">Last name:</label>
          <input type="text" id="last name" name="last name">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label for="artist type">I am a(n):</label>
          <input type="radio" id="artist type" name="artist type" value="visual artist">Visual Artist
          <input type="radio" id="artist type" name="artist type" value="writer">Writer
          <input type="radio" id="artist type" name="artist type" value="musician">Musician
          <input type="radio" id="artist type" name="artist type" value="actor">Actor
          <input type="radio" id="artist type" name="artist type" value="dancer">Dancer
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label for="looking for">I am looking for a(n):</label>
          <input type="radio" id="looking for" name="looking for" value="visual artist">Visual Artist
          <input type="radio" id="looking for" name="looking for" value="writer">Writer
          <input type="radio" id="looking for" name="looking for" value="musician">Musician
          <input type="radio" id="looking for" name="looking for" value="actor">Actor
          <input type="radio" id="looking for" name="looking for" value="dancer">Dancer
        </div>
      <div>
      <input type="submit">
    </form>
  </body>
</html>
